
<div id="aboutUsDiv" style="display: none">
  <div>
  <p><%=config.siteDesc%></p>
  </div>
</div>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">技术孵化 -- 为创业加速</h4>
      </div>
      <div class="modal-body">


        <div id="tom"  >
          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-success">
              <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                  <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <div style="width: 100%">WHY</div>
                  </a>
                </h4>
              </div>
              <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                  <p> &nbsp;&nbsp; 天下武功, 唯快不破. 速度决定创业公司的生死. 对于有一定互联网技术依赖的中小团队而言, 在没有技术合伙人的情况下,速度成了发展的制肘。<br>
                    <br>&nbsp;&nbsp; 面对技术方面的工作， 无论是选择招募技术人才， 还是寻找外包公司，都会因为行业知识的壁垒而承担用人不当的风险，一旦决策失误，在时间，资金上都会令整个项目陷入泥潭。即使不惜重金找到了专业的外包技术团队，在应付互联网项目开发的复杂流程中，也很难获得令人满意的进度。<br>
                    <br>&nbsp;&nbsp; 在缺少内部技术人员的时候，寻求技术孵化服务就可以让创业团队绕开不必要的技术之坑，实现快速成长。</p>
                </div>
              </div>
            </div>
            <div class="panel panel-success">
              <div class="panel-heading" role="tab" id="headingTwo">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    <div style="width: 100%">HOW</div>
                  </a>
                </h4>
              </div>
              <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">
                  <p> &nbsp;&nbsp;技术孵化服务就是服务提供者以技术合伙人的角色，融入到创业项目的运作之中，以自己人的身份为创业项目来承担技术方面的分析、顾问、开发工作。<br>
                    <br>&nbsp;&nbsp; 有丰富互联网项目经验的全栈性独立程序员Tom将会承担从需求分析到技术选型、架构设计、前后端代码实现以及上线后维护的完整工作流程，为确保项目的速度和质量， 整个过程单枪匹马一人完成（有特殊美术需求除外），省却许多对小项目而言冗余烦琐的复杂流程。并会在项目开发整个过程中，帮助创业者熟悉所需技术方面的各种知识，给服务方以技术合伙人的感受。<br>
                    <br>&nbsp;&nbsp; 以现金报酬+其它权益相结合的方式收取回报（其它权益包包含未来利润抽成，股权，项目合作等，具体形式事先协商）。 </p>
                </div>
              </div>
            </div>
            <div class="panel panel-success">
              <div class="panel-heading" role="tab" id="headingThree">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    <div style="width: 100%">WHO 孵化 WHO</div>
                  </a>
                </h4>
              </div>
              <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body">
                  <p> &nbsp;&nbsp;Tom开展此项服务的商业原则是为有限的客户提供快捷且靠谱的服务，因此此技术孵化服务只针对有轻度技术需求的创业项目。<br>
                    <br>&nbsp;&nbsp; 服务提供者Tom毕业于厦门大学，有过丰富的创业经历, 以及数不胜数的独立项目制作经验, 也参与过很多大型的企业项目。Tom有着极宽阔的技术视野，不仅熟悉大多数常用的技术和前沿的语言，而且可以不受限制的游刃于任何一种开发平台，快速编码。<br>
                    <br>   &nbsp;&nbsp; 在方法论上，TOM是敏捷开发和精益思想的忠实信徒和践行者，喜欢用数据和即时反馈来确认结果和调整方向， 这在一定程度上能帮助创业者避开了一些弯路，省却很多无谓的资源耗费。
                  </p>
                  <br>Tom的微信号：lazywheel（加微信时请说明来意）
                  <div style="text-align: center">
                    <img src="/images/lazywheel.jpg" style="width: 90%">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button  type="button" class="btn btn-primary btn-lg btn-block" data-dismiss="modal">返回</button>
      </div>
    </div>
  </div>
</div>

<script>
  // http://stackoverflow.com/questions/2271156/chrome-desktop-notification-example

  $(function () {
    $("a.aboutUs").click(function (e) {
      var chtmls = $('#aboutUsDiv').html();
      //alert(imghtmls);
      showPageModal({title:'关于我们',body:chtmls});
    });

    $("a.showTom").click(function (e) {
      //var chtmls = $('#tom').html();
      $('#myModal').modal({show:true});
    });
  });

</script>