<div style="margin-top: 80px">
  <div class="text-center"><h3>摘要</h3></div>
  <div class="alert alert-success" role="alert">
    <strong><%=result['summary']||result['error_msg']||'调用云服务出错，请联系开发者Tom！'%></strong>
  </div>

  <p class="info-back-btn">
    <a href="javascript:history.back()" class="btn btn-default">返回</a>
  </p>
</div>